#Data Types and Structures

1.What are data structures, and why are they important

  - Data structures are methods of organizing and storing data in a computer so that it can be accessed and processed efficiently. They are important because they improve the performance of programs by saving time and memory, make data operations like searching and sorting faster, and help in writing optimized and scalable code.

2.Explain the difference between mutable and immutable data types with examples

 - Mutable data types are those whose values can be changed after the object is created. Any modification affects the same object in memory. Examples include lists, dictionaries, and sets.
 For example, elements of a list can be added or removed.
 Immutable data types are those whose values cannot be changed once the object is created. Any modification creates a new object in memory. Examples include integers, strings, tuples, and floats.
 For example, a string cannot be modified after creation.

3.What are the main differences between lists and tuples in Python

 - Lists are mutable, meaning their elements can be changed after creation.
 Tuples are immutable, meaning their elements cannot be changed once created.
 Lists use square brackets [ ].
 Tuples use parentheses ( ).
 Lists allow insertion, deletion, and modification of elements.
 Tuples do not allow modification of elements.
 Lists consume more memory.
 Tuples consume less memory.
 Lists cannot be used as dictionary keys.
 Tuples can be used as dictionary keys.

4.Describe how dictionaries store data

 - Dictionaries store data in the form of key–value pairs. Each key is unique and is mapped to a corresponding value. Internally, dictionaries use a hashing mechanism, where the key is converted into a hash value to store and quickly retrieve the associated value.

5.Why might you use a set instead of a list in Python

 - You might use a set instead of a list when you need to store unique elements and perform fast membership testing. Sets automatically remove duplicate values and use hashing, which makes operations like search, add, and delete faster than lists.

6.What is a string in Python, and how is it different from a list

 - A string in Python is a sequence of characters enclosed in single or double quotes and is immutable, meaning it cannot be changed after creation. A list is a sequence of elements enclosed in square brackets and is mutable, meaning its elements can be modified.

7.How do tuples ensure data integrity in Python

 - Tuples ensure data integrity in Python because they are immutable, meaning once a tuple is created, its elements cannot be changed, added, or removed. This prevents accidental or unauthorized modifications, making tuples ideal for storing fixed, reliable data.

8.What is a hash table, and how does it relate to dictionaries in Python

 - A hash table is a data structure that stores data in key–value pairs and uses a hash function to compute an index (called a hash) where each value is stored. In Python, dictionaries are implemented using hash tables, which allows for fast access, insertion, and deletion of elements based on their keys.

9.Can lists contain different data types in Python

 - Yes, lists in Python can contain elements of different data types. A single list can hold integers, strings, floats, booleans, other lists, or even objects.

10.Explain why strings are immutable in Python

 - Strings are immutable, so they cannot be changed after creation.
Immutability ensures data safety and allows strings to be used as dictionary keys.Any modification creates a new string instead of changing the original.

11.What advantages do dictionaries offer over lists for certain tasks

 - Dictionaries offer several advantages over lists when you need fast access, unique keys, and key–value mapping:

12.Describe a scenario where using a tuple would be preferable over a list

 - Use tuples when you need to store fixed, unchangeable data, like coordinates or constant values, or when a hashable object is required.

13.How do sets handle duplicate values in Python

 - Sets store only unique elements and automatically remove duplicates.
 Adding a duplicate value to a set is ignored.
 Useful for distinct items and set operations like union and intersection.

14.How does the “in” keyword work differently for lists and dictionaries

 - For lists, the in keyword checks if a value exists anywhere in the list. It searches all elements sequentially.
 For dictionaries, the in keyword checks if a key exists, not the value. It does not check values directly.

15.Can you modify the elements of a tuple? Explain why or why not

 - No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its size and content cannot be changed. Any attempt to change an element will result in an error. This immutability ensures data integrity and allows tuples to be used as dictionary keys.

16.What is a nested dictionary, and give an example of its use case

 - A nested dictionary is a dictionary that contains another dictionary (or dictionaries) as its values. It is useful for representing hierarchical or structured data.
 Example Use Case:

students = {
    "Alice": {"age": 20, "marks": 85, "city": "Delhi"},
    "Bob": {"age": 22, "marks": 90, "city": "Mumbai"}
}

17.Describe the time complexity of accessing elements in a dictionary

 - Accessing dictionary elements by key is O(1) on average.
 Very fast due to hash table implementation.
 Worst case is O(n) if many hash collisions occur.

18.In what situations are lists preferred over dictionaries

 - Lists are preferred when you need an ordered collection of elements, especially when duplicates are allowed and fast sequential access is important. They are ideal for storing simple sequences of items rather than key–value pairs.

19.Why are dictionaries considered unordered, and how does that affect data retrieval

 - Dictionaries are unordered, so elements have no index positions.
 Values are accessed only by keys, not by order.
 Retrieval is still fast (O(1)) using hashing.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

 - In a list, data is accessed by index position, and searching for a value requires scanning elements (O(n) time).
 In a dictionary, data is accessed by key, and retrieval is very fast (average O (1) time) because of hashing.

#Practical Questions

1.Write a code to create a string with your name and print it.

In [ ]:
name = "Chanchal Ram"

# Print the string
print(name)

Chanchal Ram

2.Write a code to find the length of the string "Hello World".

In [ ]:
text = "Hello World"
len(text)

11

3.Write a code to slice the first 3 characters from the string "Python Programming

In [ ]:
text = "Python Programming"
text[:3]

'Pyt'

4.Write a code to convert the string "hello" to uppercase

In [ ]:
text = "hello"
text.upper()

'HELLO'

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
text = "I like apple"
# Replace "apple" with "orange"
text.replace("apple", "orange")

'I like orange'

6.Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
numbers = [1, 2, 3, 4]
# Append 10 to the list
numbers.append(10)
numbers

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
numbers = [1, 2, 3, 4, 5]
# Remove number 3 from the list
numbers.remove(3)
numbers

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
letters = ['a', 'b', 'c', 'd']
# Access the second element
letters[1]

'b'

10.Write a code to reverse the list [10, 20, 30, 40, 50

In [2]:
list = [10,20,30,40,50]
list.reverse()
list

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it

In [4]:
my_tuple = (100,200,300)
my_tuple

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [10]:
my_tuple =  ('red', 'green', 'blue', 'yellow')
my_tuple[-2]

'blue'

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
my_tuple = (10, 20, 5, 15)
minimum = min(my_tuple)
minimum

5

14.. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:
my_tuple =  ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
index

1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [21]:
fruits = ("mango", "kiwi", "orange")
if "kiwi" in fruits:
  print("kiwi is ther")
else:
  print("kiwi is not ther")

kiwi is ther

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [22]:
set = {"a", "b", "c"}
set

{'a', 'b', 'c'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [31]:
number = {1, 2, 3, 4, 5}
number.clear()
number

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [32]:
number = {1, 2, 3, 4}
number.remove(4)
number

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [33]:
set1 = {1,2,3}
set2 = {3,4,5}
set = set1.union(set2)
set

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [34]:
set1 = {1,2,3}
set2 = {2,3,4}
set = set1.intersection(set2)
set

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [35]:
dict = {"name": "chanchal", "age": "22", "city": "mumbai"}
dict

{'name': 'chanchal', 'age': '22', 'city': 'mumbai'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [37]:
dict = {'name': 'John', 'age': 25}
dict["country"] = "USA"
dict

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [41]:
dict = {'name': 'Alice', 'age': 30}
(dict["name"])

'Alice'

24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [44]:
dict =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
del (dict["age"])
dict

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [45]:
dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in dict:
  print("city is ther")
else:
  print("city is not ther")

city is ther

26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [60]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'name': 'Alice', 'age': 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'Alice', 'age': 25}

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [63]:
import  random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
numbers

[8, 24, 31, 47, 74]

28. Write a code to create a list with strings and print the element at the third index.

In [64]:
fruits = ['apple', 'banana', 'cherry', 'date', 'berry']
print(fruits[3])

date

29.Write a code to combine two dictionaries into one and print the result.

In [65]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.Write a code to convert a list of strings into a set.

In [70]:
import builtins
fruits_list = ['apple', 'banana', 'cherry', 'apple', 'banana']
fruits_set = builtins.set(fruits_list)
print(fruits_set)

{'banana', 'apple', 'cherry'}